/* min-width: не менее; max-width: не более; */


@media (min-width: 280px){
    nav>ul {
        font-size: 1rem;
    }

    .gul-up {
        visibility: hidden;
    }
}

/* равно 641px и больше */
@media (min-width: 641px) {
    nav>ul {
        font-size: 1rem;
    }
}

/* равно 961px и больше  */
@media (min-width: 961px) {
    nav>ul {
        font-size: 1.2rem;
    }

    .gul-up {
        visibility: inherit;
    }
}
