  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    color: #4386BC;
    text-decoration: none;
  }

  .gul-up {
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    content: '';
    border: 2px solid #FF5269;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.gul-up:before {
    position: absolute;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    display: block;
    content: '';
    border-top: 2px solid #FF5269;
    border-right: 2px solid #FF5269;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -7px;
    transform: rotate(-45deg);
}
  /* -------------------------------- 
  
  Main Components 
  
  -------------------------------- */

  .cd-main-content {
    position: relative;
    min-height: 100vh;
  }
  .cd-main-content:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-main-content.is-fixed .cd-filter {
    position: fixed;
    height: 100vh;
    overflow: hidden;
  }
  .cd-main-content.is-fixed .cd-filter form {
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .cd-main-content.is-fixed .cd-filter-trigger {
    position: fixed;
    background-color: rgba(126, 172, 209, 0.5);
    color: #ffffff;
  }
  /* -------------------------------- 
  
  xgallery 
  
  -------------------------------- */
  .cd-gallery {
    padding: 70px 5%;
    width: 100%;
    font-size: 1.3rem;
    font-family: 'MoscowSansRegular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
  }
  .cd-gallery li {
    margin-bottom: 1.6em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    display: none;
    text-align: center;
    cursor: pointer;
    border: 2px dashed #7EACD1;
  }
  .cd-gallery li span {
    display: inline-block;
    line-height: 1.5rem;
  }
  .cd-gallery li span.shop-item-title {
    padding-top: 1.3rem;
  }
  .cd-gallery li span.price {
    padding: 1rem 0 1.5rem 0;
    color: #FF5269;
  }
  .cd-gallery li.available-item {
    border: 2px dashed #00FF08;
  }
  .cd-gallery li.gap {
    /* used in combination with text-align: justify to align gallery elements */
    opacity: 0;
    height: 0;
    display: inline-block;
  }
  .cd-gallery img {
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
  .cd-gallery .cd-fail-message {
    display: none;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .cd-gallery {
      padding: 70px 3%;
    }
    .cd-gallery ul {
      text-align: justify;
    }
    .cd-gallery ul:after {
      content: "";
      display: table;
      clear: both;
    }
    .cd-gallery li {
      width: 48%;
      margin-bottom: 2em;
    }
    .gul-up {
      visibility: hidden;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-gallery {
      padding: 70px 2%;
      float: right;
      transition: width 0.3s;
    }
    .cd-gallery li {
      width: 23%;
    }
    .cd-gallery.filter-is-visible {
      /* reduce width when filter is visible */
      width: 80%;
    }
    .gul-up {
      visibility: inherit;
    }
  }
  
  /* -------------------------------- 
  
  xfilter 
  
  -------------------------------- */
  .cd-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    transform: translateZ(0);
    backface-visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .cd-filter::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #7EACD1;
    z-index: 2;
  }
  .cd-filter form {
    padding: 70px 15px;
  }
  .cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    background: #4386BC;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 3;
  }
  .no-touch .cd-filter .cd-close:hover {
    background: #4386BC;
  }
  .cd-filter.filter-is-visible {
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  }
  .cd-filter.filter-is-visible .cd-close {
    opacity: 1;
  }
  
  .cd-filter-trigger {
    position: absolute;
    top: 0;
    left: 2%;
    height: 50px;
    width: auto%;
    padding-left: 26px;
    padding-right: 5px;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    font-size: 1.3rem !important;
    background: transparent url("../images/filter/cd-icon-filter.svg") no-repeat center center;
    z-index: 3;
    background-position: left center;
    color: #9a9a9a;
    font-weight: 700;
    transition: all 0.125s ease-out;
    border-top: 1px dashed #7EACD1;
    border-bottom: 1px solid #7EACD1;
    border-right: 1px dotted #7EACD1;
  }
  .cd-filter-trigger.filter-is-visible {
    pointer-events: none;
    border: none;
  }
  .cd-filter-trigger span {
    display: inline-block;
    position: relative;
    top: 14px;
  }
  .cd-filter-trigger.filter-is-visible span {
    top: 15px;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #4386BC;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
  
  
  /* -------------------------------- 
  
  xcustom form elements 
  
  -------------------------------- */
  .cd-filter-block {
    margin-bottom: 1em;
  }
  .cd-filter-block h4 {
    /* filter block title */
    position: relative;
    margin-bottom: .2em;
    padding: 17px 0 10px 20px;
    color: #9a9a9a;
    font-size: 1.4rem;
    user-select: none;
    cursor: pointer;
  }
  .no-touch .cd-filter-block h4:hover {
    color: #4386BC;
  }
  .cd-filter-block h4::before {
    /* arrow */
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url("../images/filter/cd-icon-arrow.svg") no-repeat center center;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }
  .cd-filter-block h4.closed::before {
    transform: translateY(-50%) rotate(-90deg);
  }
  .cd-filter-block input, .cd-filter-block select,
  .cd-filter-block .radio-label::before,
  .cd-filter-block .checkbox-label::before {
    /* shared style for input elements */
    font-family: "Open Sans", sans-serif;
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
  }

  .cd-filter-block .cd-select {
    /* select element wrapper */
    position: relative;
  }
  .cd-filter-block .cd-select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/filter/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none;
  }
  .cd-filter-block .list li {
    position: relative;
    margin-bottom: .8em;
  }
  .cd-filter-block .list li:last-of-type {
    margin-bottom: 0;
  }
  .cd-filter-block input[type=radio],
  .cd-filter-block input[type=checkbox] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
  }
  .cd-filter-block .checkbox-label,
  .cd-filter-block .radio-label {
    padding-left: 24px;
    font-size: 1.3rem;
    user-select: none;
    font-family: 'MoscowSansRegular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
  }
  .cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
  .cd-filter-block .radio-label::before,
  .cd-filter-block .radio-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .cd-filter-block .checkbox-label::before,
  .cd-filter-block .radio-label::before {
    width: 16px;
    height: 16px;
    left: 0;
  }
  .cd-filter-block .checkbox-label::after,
  .cd-filter-block .radio-label::after {
    /* check mark - hidden */
    display: none;
  }
  .cd-filter-block .checkbox-label::after {
    /* check mark style for check boxes */
    width: 16px;
    height: 16px;
    background: url("../images/filter/cd-icon-check.svg") no-repeat center center;
  }
  .cd-filter-block .radio-label::before,
  .cd-filter-block .radio-label::after {
    border-radius: 50%;
  }
  .cd-filter-block .radio-label::after {
    /* check mark style for radio buttons */
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    left: 5px;
  }
  .cd-filter-block input[type=radio]:checked + label::before,
  .cd-filter-block input[type=checkbox]:checked + label::before {
    border-color: #4386BC;
    background-color: #4386BC;
  }
  .cd-filter-block input[type=radio]:checked + label::after,
  .cd-filter-block input[type=checkbox]:checked + label::after {
    display: block;
  }
  
  .last-radio-button {
    padding-bottom: 30px;
  }

  @-moz-document url-prefix() {
    /* hide custom arrow on Firefox - select element */
    .cd-filter-block .cd-select::after {
      display: none;
    }
  }
  
