main{
    margin: 0 auto;
    max-width: 1300px;
    padding: 1.5rem 2rem;
    font-family: 'MoscowSansRegular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}
.main-description{
    display: flex;
    justify-content: space-between;
}
.main-container-images{
    position: relative;
    max-width: 400px;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}
.main-image::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../js/zoomEffect/icon.png") no-repeat;
    width: 33px;
    height: 33px;
}
.small-track-images{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.zoom-control{
    display: flex;
    margin-top: 0.7rem;
    color: #ADADAD;
}
span.zoom, a.fancy-box{
    position: relative;
    padding-left: 1.7rem;
}
a.fancy-box{
    margin-left: 0.7rem;
}
a.fancy-box:hover{
    text-decoration: underline;
}
span.zoom::after, a.fancy-box::after {
    position: absolute;
    top: -0.2rem;
    left: 0;
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
}
span.zoom::after{
    background: url("../js/zoomEffect/pointer_17x17.svg") no-repeat;
}
a.fancy-box::after{
    background: url("../js/zoomEffect/search_17x17.svg") no-repeat;
}
.reduced-image{
    display: inline-block;
    padding-right: 0.7rem;
}
.reduced-image:last-child{
    padding-right: 0;
}
.reduced-image img{
    width: 75px;
    border: 1px solid #7EACD1;
    padding: 0.2rem;
}
.right-column-info{
    border-left: 2px dashed #7EACD1;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    line-height: 2rem;
}
.right-column-info, .review p{
    text-align: justify;
}
h2.title-item, span.title-price, .recommend-products h2{
    font-size: 2rem;
}
span.title-price{
    display: inline-block;
    margin-top: 1rem;
    color: #FF5269;
}
h3.title-description{
    font-size: 1.5rem;
    padding: 1rem 0;
}
ul{
    list-style: square inside;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}
.input-quantity{
    width: 4rem;
    border-radius: 0;
    border: 1px solid #7EACD1;
    padding: 0.5rem 0.7rem;
    margin-left: 1rem;
}
.add-to-cart-button, .title-prod {
    font-family: 'Montresor', Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
}
input.add-to-cart-button{
    font-size: 1.3rem;
    color: #7EACD1 !important;
    padding: 0.7rem 0.5rem !important;
    background-color: transparent !important;
    border: 1px solid #7EACD1 !important;
    margin-left: 1rem;
    transition: all 0.125s ease-in-out !important;
}
input.add-to-cart-button:hover{
    color: #FF5269 !important;
    border-color: #FF5269 !important;
    cursor: pointer;
}
.additional-description{
    display: flex;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #7EACD1;
}
.specification{
    padding-right: 1rem;
}
.specification, .review{
    width: 100%;
    flex-basis: 50%;
}
.specification h3, .review h3{
    display: block;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    line-height: 2rem;
}
.review{
    padding-left: 1.5rem;
    border-left: 2px dashed #7EACD1;
    font-size: 1.3rem;
}
.review p{
    line-height: 2rem;
}
table td{
    padding: 0.6rem;
    letter-spacing: 0.05rem;
    border-bottom: 1px solid #7EACD1;
}
.review span{
    color: #FF5269;
}
.title-prod {
    position: relative;
    margin-top: 4rem;
    text-align: center;
}
.title-prod h2{
    display: inline-block;
    padding: 1rem;
    background-color: #fff;
    z-index: 10;
}
.title-prod h2::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: -10;
    background-color: #7EACD1;
}
.container-products{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;

}
.prod-item{
    padding: 0.5rem;
}
.prod-item img{
    display: block;
    width: 140px;
    height: auto;
    margin: 0 auto;
}
.prod-item h3{
    padding-top: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    transition: color 0.125s ease-in-out;
    line-height: 1.5rem;
}
.prod-item h3:hover{
    color: #FF5269;
}
.price{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
}
.add-to-cart-container {
    margin-top: 1.5rem;
}

@media (max-width: 650px) {
    .main-description, .additional-description{
        flex-direction: column;
        align-items: center;
    }
    .main-container-images{
        margin-bottom: 2rem;
    }
    .zoom{
        display: none;
    }
    .fancy-link{
        margin: 0 auto;
    }
    .right-column-info, .review{
        margin-left: 0;
        border-left: 0;
        padding-left: 0;
    }
    .specification{
        padding-right: 0;
        margin: 0 auto 1rem auto;
    }
    table{
        width: 100%;
    }
    .specification h3, .review h3{
        position: relative;
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: left;
        background-color: rgba(126, 172, 209, 0.8);
        color: #fff;
        transition: background-color .3s;
    }
    .toogle-tab{
        margin-bottom: 0 !important;
    }
    .toogle-tab::after{
        position: absolute;
        right: 2rem;
        content: '\f107';
        font-family: FontAwesome;
        font-size: 2rem;
        color: #fff;
        transition: transform .3s;
    }
    .toogle-tab.in{
        background-color: rgb(104, 161, 207);
    }
    .toogle-tab.in::after {
        transform: rotate(180deg);
    }
    .is-invisible{
        display: none;
        padding: 1rem 0;
    }
    .container-products{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .prod-item img{
        width: 90%;
    }
    .prod-item {
        border: 1px solid #7EACD1;
        margin-bottom: 1.6rem;;
    }
}