.main-container-images{
    font-family: 'MoscowSansRegular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
}
main{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 1rem;
}
.main-container-images{
 
}
.main-image{

}
.main-image img{
    width: 100%;
    max-width: 100%;
    width: 470px;
    height: auto;
    border: 2px dashed #7EACD1;
}
.small-track-images{
    display: flex;
    justify-content: start;
}
.reduced-image{
    display: inline-block;
    padding-right: 0.5rem;
}
.reduced-image:last-child{
    padding-right: 0;
}
.reduced-image img{
    width: 75px;
    border: 2px dashed #7EACD1;
}