html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    height: 5000px;
    font-family: 'Montresor', Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
}

.font-text-title {
    text-transform: uppercase;
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
}

html {
    font-size: 14px; 
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fluid-img {
    width: 100%;
    max-width: 100%;
}

.wrapper{
    width: 100%;
    position: relative;
    margin: 0 auto;
    color: black;
    /* background-color: #88c988; */
}

/* Стили для header*/

.header {
    display: flex;
    justify-content: space-between;
    min-width: 740px;
    padding: 0 2rem;
}

.search-form {
    margin: auto 0;
}

.button-search {
    position: relative;
    top: 0.5rem;
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
}

.button-search::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/icons/sprite_social.png') no-repeat -149px -5px;
}


a, .button-search:active, .button-search:focus {
    outline: none;
}

.button-search::-moz-focus-inner {
    border: 0;
}

.input-text {
    padding: 0.5rem 0.5rem;
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    border: none;
    font-size: 1.2rem;
}

.input-text:hover {
    outline: 1px solid #7EACD1;
}

.logo-img {
    max-width: 12rem;
    height: auto;
    margin: 0 auto;
}

.utils {
    margin: auto 0;
}

.social-icon {
    padding: 0 2px;
}

.social-icon::before {
    content: "";
    display: inline-block;
}

.social-icon-f::before {
    width: 24px;
    height: 24px;
    background: url('../images/icons/sprite_social.png') no-repeat -39px -5px;

}

.social-icon-t::before {
    width: 24px;
    height: 24px;
    background: url('../images/icons/sprite_social.png') no-repeat -73px -5px;
}

.social-icon-i::before {
    width: 24px;
    height: 24px;
    background: url('../images/icons/sprite_social.png') no-repeat -5px -5px;
}

.cabinet-link:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/icons/sprite_social.png') no-repeat -191px -5px;
}

.cabinet-link {
    position: relative;
    top: 0.3rem;
    margin-left: 4rem;
}
.cabinet-link span {
    position: relative;
    bottom: 0.6rem;
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    transition: color 0.125s ease-in-out;
}

.cabinet-link span:hover {
    color: #FF5269;
}


.trash-icon::before {
    position: relative;
    top: 0.3rem;
    width: 32px;
    height: 32px;
    background: url('../images/icons/sprite_social.png') no-repeat -107px -5px;
}

/* Стили для nav*/
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    list-style-type: none;
    padding: 0px;
    margin: 1rem;
    font-weight: 100;

}

.menu-item a, nav ul li  {
    padding: 1em .5em;
    text-transform: uppercase;
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
    transition: color 0.125s ease-in-out;
}

nav>ul {
    font-size: 1rem;
}

.menu-item a:hover {
    color: #FF5269;
}

a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

/* Слайдер */

/* .slider {
    max-width: 1600px;
} */

.slides {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Главная часть */

.container-merits {
    max-width: 1300px;
    min-width: 850px;
    display: flex;
    background-color: #F6F6F6;
    justify-content: space-between;
    margin: 1rem auto 3rem auto;
    padding: 1rem;
    font-size: 1.5rem;
}

.block-merits {
    margin: 0 auto;
    width: 66px;
    height: 66px;
    margin-bottom: 1.5rem;
}

.block-mer span {
    color: #7EACD1;
}

.delivery-img {
    background: url('../images/icons/sprite_merits.png') no-repeat -5px -5px;
    
}

.choise-img {
    background: url('../images/icons/sprite_merits.png') no-repeat -233px -5px;
}

.price-img{
    background: url('../images/icons/sprite_merits.png') no-repeat -157px -5px;
}

.settings-img {
    background: url('../images/icons/sprite_merits.png') no-repeat -81px -5px;
}

.main-container-arrivals {
    text-align: center;
    border-top: 1px solid #7EACD1;
    border-bottom: 1px solid #7EACD1;
}

.container-arrivals {
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    min-width: 850px;
}

.block-arrivals {
    flex-basis: 19.2307692%;
    padding-bottom: 1rem;
    transition: all .2s;
}

.block-arrivals:hover {
    border: 1px solid #FF5269;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h3.title-header {
    display: inline-block;
    margin: 0 auto;
    padding: 1rem;
    color: #7EACD1;
    border-left: 1px solid #7EACD1;
    border-right: 1px solid #7EACD1;
    border-bottom: 1px solid #7EACD1;
}

.title-item, .price {
    font-size: 1.5rem;
}

.title-item:hover, .price:hover {
    color: #FF5269;
}

.main-categories {
    text-align: center;
    margin-bottom: 3rem;
}

.container-categories {
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

.item-guitar {
    position: relative;
    overflow: hidden;
    width: 49.2307692%;
}

.item-guitar img {
    position: relative;
    display: block;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.item-guitar img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


h3.title-categories {
    position: absolute;
    color: #ffffff;
    top: 40%;
    left: 11%;
    font-size: 2rem;
    margin: 0;
}

.item-guitar a {
    display: inline-block;
    position: absolute;
    padding: .5rem .5rem;
    top: 70%;
    left: 28%;
    color: #ffffff;
    font-size: 2rem;
    border: 1px solid #ffffff;
    transition: all 0.125s ease-in-out;
}

.item-guitar a:hover {
    border: 1px solid #FF5269; 
    color: #FF5269;       
}















/* {
    display: block;
    background-image: url('/images/logo/logo_1024x768_bl.svg');
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
} */



































/* h3 {
    font-family: 'Montresor', sans-serif;
    font-size: 1rem;
} */


 /* {
    font-family: 'AlgeriaOne', sans-serif;
    font-size: 1rem;
    letter-spacing: .2em;
    font-size: 1.5rem;
} */


@font-face {
    font-family: 'AlgeriaOne';
    src: url('../fonts/AlgeriaOne/AlgeriaOne.eot');
    src: url('../fonts/AlgeriaOne/AlgeriaOne.woff2') format('woff2'),
         url('../fonts/AlgeriaOne/AlgeriaOne.woff') format('woff'),
         url('../fonts/AlgeriaOne/AlgeriaOne.ttf') format('truetype'),
         url('../fonts/AlgeriaOne/AlgeriaOne.svg#AlgeriaOne') format('svg'),
         url('../fonts/AlgeriaOne/AlgeriaOne.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montresor';
    src: url('../fonts/Montresor/Montresor.eot');
    src: url('../fonts/Montresor/Montresor.woff2') format('woff2'),
         url('../fonts/Montresor/Montresor.woff') format('woff'),
         url('../fonts/Montresor/Montresor.ttf') format('truetype'),
         url('../fonts/Montresor/Montresor.svg#Montresor') format('svg'),
         url('../fonts/Montresor/Montresor.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  

