html, body {
    width: 100%;
    height: auto;
    font-family: 'Montresor', Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
}
html {
    font-size: 14px;
}
.shop-container p, .title-item, .price, input, .container-merits{
    font-family: 'MoscowSansRegular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}
.font-text-title {
    text-transform: uppercase;
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
    line-height: 1.2;
}
* {
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-select:none;
}
*, *::after, *::before {
    box-sizing: border-box;
}
.fluid-img {
    width: 100%;
    max-width: 100%;
}
.wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.search-form {
    position: relative;
    margin: auto 0;
}
.button-search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -3rem;
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
}
.button-search::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/icons/sprite_social.png') no-repeat -370px -10px;
}
a, .button-search:active, .button-search:focus, .input-text {
    outline: none;
}
.button-search::-moz-focus-inner {
    border: 0;
}
.input-text, input[type="email"] {
    padding: 0.5rem 0.5rem;
    border: none;
    font-size: 1.2rem;
    outline: 1px solid rgba(126, 172, 209, .5);
}
.input-text:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
    outline: 0;
}
.logo-img {
    width: 190px;
    height: auto;
    margin: 0 auto;
}
.utils {
    margin: auto 0;
}
.social-icon {
    padding: 0 2px;
}
.social-icon::before {
    content: "";
    display: inline-block;
}
.social-icon-f::before {
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -100px -10px;
}
.social-icon-t::before {
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -280px -10px;
}
.social-icon-i::before {
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -145px -10px;
}
.cabinet-link:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -190px -10px;
}
.cabinet-link {
    margin-left: 5rem;
    margin-right: .5rem;
}
.cabinet-link span {
    position: relative;
    bottom: 0.6rem;
    margin-right: .5rem;
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    transition: color .125s;
}
.cabinet-link span:hover {
    color: #FF5269;
}
.shop-icon::before {
    position: relative;
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -235px -10px;
}
.shop-icon span {
    padding-left: 0.3rem;
    font-size: 1.2rem;
}
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin: 1rem;
    font-weight: 100;
}
.menu-item a, nav ul li {
    padding: 1em .5em;
    text-transform: uppercase;
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
    transition: color .125s ease-in-out;
}
nav>ul {
    font-size: 1rem;
}
.menu-item a:hover {
    color: #FF5269;
}
a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
    font: inherit;
}
.slides {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slides li{
    display: block;
}
.slide{
    position: relative;
}
.slide-title{
    width: 100%;
    min-width: 300px;
    padding: 20px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    font-size: 3rem;
}
.container-merits {
    max-width: 1300px;
    display: flex;
    background-color: #F6F6F6;
    justify-content: space-between;
    margin: 1rem auto 3rem auto;
    padding: 1rem;
    font-size: 1.5rem;
}
.block-merits {
    margin: 0 auto;
    text-align: center;
    padding: 0.3rem;
}
.block-merits img {
    width: 66px;
    padding-bottom: 0.5rem;
}
.block-merits span {
    display: block;
    color: #7EACD1;
}
.main-container-arrivals {
    text-align: center;
    border-top: 1px solid #7EACD1;
    border-bottom: 1px solid #7EACD1;
}
.container-arrivals {
    margin: 3rem auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}
.block-arrivals {
    flex-basis: 19.2307692%;
    padding-bottom: 1rem;
    transition: all .125s;
    border: 1px solid #FF5269;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    line-height: 2rem;
}
h3.title-header {
    display: inline-block;
    margin: 0 auto;
    padding: 1rem;
    color: #7EACD1;
    border-left: 1px solid #7EACD1;
    border-right: 1px solid #7EACD1;
    border-bottom: 1px solid #7EACD1;
}
.title-item, .price {
    font-size: 1.5rem;
}
.title-item:hover, .price:hover {
    color: #FF5269;
}
.main-categories {
    text-align: center;
    margin-bottom: 3rem;
}
.container-categories {
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}
.title-container {
    position: absolute;
    top: 10rem;
    right: 5rem;
    left: 5rem;
    bottom: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item-guitar {
    position: relative;
    overflow: hidden;
    width: 49.2307692%;
}
.item-guitar img {
    position: relative;
    display: block;
    transition: all 1s ease-out;
}
.item-guitar img:hover {
    transform: scale(1.1);
}
h3.title-categories {
    color: #ffffff;
    font-size: 2rem;
    padding-bottom: 4rem;
}
.item-guitar a {
    padding: .7rem .5rem;
    color: #ffffff;
    font-size: 2rem;
    border: 1px solid #ffffff;
    transition: all 0.125s ease-in-out;
}
.item-guitar a:hover {
    border: 1px solid #FF5269;
    color: #FF5269;
}
.about-shop-container {
    max-width: 1300px;
    background-color: #F6F6F6;
    margin: 1rem auto 3rem auto;
    padding: 1rem;
}
h3.about-shop-title {
    font-size: 1.5rem;
    color: #7EACD1;
    text-align: center;
}
.shop-container {
    display: flex;
    font-size: 1.5rem;
    text-align: justify;
}
.about-shop-container p {
    padding: 2rem 0;
    line-height: 2rem;
}
footer {
    width: 100%;
    background-color: #000000;
    font-family: 'MoscowSansRegular', Arial, Helvetica, sans-serif;
}    
.container-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 1300px;
}
.footer-info {
    flex-basis: 30%;
}
.title-footer {
    font-family: 'AlgeriaOne', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.search-form-footer {
    display: inline-block;
    padding-top: 5px;
}
.input-text-footer, input[type="submit"] {
    border: 1px solid #fff !important;
    background-color: #000000;
    color: #fff;
}
.input-text-footer {
    width: 100%;
}
.input-text-footer:focus {
    border-color: rgba(255, 255, 255, .5) !important;
}
input[type="submit"] {
    margin-top: 1rem;
    padding: .5rem .5rem;
    transition: all 0.125s ease-in-out;
}
input[type="submit"]:hover {
    border-color: #FF5269 !important;
    color: #FF5269;
    cursor: pointer;
}
.footer-info p {
    margin-top: 0;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
}
.footer-logo img {
    width: 190px;
    height: auto;
}
.button-social-icon::before {
    content: "";
    display: inline-block;
    margin: 1rem 1rem 0 0;
}
.button-facebook-icon::before {
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -10px -10px;
}
.button-twitter-icon::before {
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -325px -10px;
}
.button-instagram-icon::before {
    width: 25px;
    height: 25px;
    background: url('../images/icons/sprite_social.png') no-repeat -55px -10px;
}
.footer-site-info {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}
.footer-site-info>p {
    color: #fff;
    margin: 1rem 0 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    letter-spacing: 0.1rem;
}
.footer-site-info>img {
    margin: .5rem 1rem 0 0;
    width: auto;
    height: 35px;
}
.gul-up {
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    content: '';
    border: 2px solid #FF5269;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}
.gul-up:before {
    position: absolute;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    display: block;
    content: '';
    border-top: 2px solid #FF5269;
    border-right: 2px solid #FF5269;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -7px;
    transform: rotate(-45deg);
}
@media (max-width: 325px){
    .item-guitar a{
        padding: .5rem .3rem;
    }
}
@media (max-width: 430px){
    div.item-guitar div.title-container{
        top: 5rem;
        right: 5rem;
        left: 5rem;
        bottom: 0;
   }
    div.slide-title{
        font-size: 1.2rem;
        padding: 5px;
   }
}
@media (max-width: 650px){
    .header{
        flex-wrap: wrap;
   }
    .link-logo{
        display: block;
        order: 1;
        width: 140px !important;
        margin: 0 auto;
   }
    .utils{
        order: 2 !important;
   }
    .search-form{
        display: block;
        margin: 1rem auto 0 auto;
        order: 3 !important;
   }
    .slide-title{
        font-size: 2rem;
   }
    .block-merits span{
        font-size: 0.9rem;
   }
    .block-merits img{
        width: 30px;
   }
    .container-arrivals{
        flex-wrap: wrap;
   }
    .block-arrivals{
        flex-basis: 100%;
        margin-bottom: 2rem;
   }
    .container-categories{
        flex-wrap: wrap;
   }
    .item-guitar{
        width: 100%;
   }
    div.item-guitar .title-container{
        top: 10rem;
        right: 5rem;
        left: 5rem;
        bottom: 0;
   }
    .title-container h3{
        padding-bottom: 2rem !important;
   }
    .shop-container p{
        font-size: 1.2rem;
   }
    .container-footer{
        flex-wrap: wrap;
   }
    .footer-info{
        flex-basis: 100% !important;
        margin-bottom: 2rem;
        text-align: center;
   }
   .footer-site-info>p{
    font-size: 0.8rem;
    line-height: 1.3;
   }
}
@media (max-width: 870px) {
    nav>ul {
        font-size: 1rem;
   }
    .gul-up {
        visibility: hidden;
   }
    .link-logo{
        display: inline-block;
        order: 1;
        width: 150px;
   }
    .search-form{
        order: 2;
   }
    .utils{
        order: 3;
   }
    .social-icon-f, .social-icon-t, .social-icon-i{
        display: none;
   }
    .input-text{
        font-size: 1rem;
        width: 100%;
   }
    .item-guitar .title-container{
        top: 7rem;
        right: 5rem;
        left: 5rem;
        bottom: 0;
   }
    .item-guitar:first-child{
        margin-bottom: 2rem;
   }
    .item-guitar img{
        transition: none;
   }
    .item-guitar img:hover {
        transform: none;
   }
    .title-container h3{
        padding-bottom: 2rem;
   }
    .title-container h3, .title-container a{
        font-size: 1.2rem !important;
   }
}
@media (max-width: 1170px){
    .title-container{
        top: 7rem;
        right: 5rem;
        left: 5rem;
        bottom: 0;
   }
}
@media only screen and (min-width: 1170px) {
    nav>ul {
        font-size: 1.2rem;
   }
    .gul-up {
        visibility: inherit;
   }
    .block-arrivals {
        border: none;
        box-shadow: none;
   }
    .block-arrivals:hover {
        border: 1px solid #FF5269;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   }
}
